body {
    background: rgb(239, 239, 239);
    font-family: Helvetica;
	margin: 0;
	display: flex;
    flex-direction: column;

}

#banner {
	background-image: url('images/city.jpg');
	background-size: cover;
	padding: 100px 0;
	opacity: 0.4;
	text-align: center;
	color: rgb(254, 59, 60);

}

#banner #logo {
	border: 5px solid rgb(254, 59, 60);
    display: inline-block;
    padding: 30px;

}

#banner #logo:hover {
	color: rgb(25, 25, 25);

}

.spec p {
	display: inline;

}

#spec {
    text-indent: 20px;
}

#about p{
    text-indent: 20px;
    margin: 10px;
}

.card {
	opacity: 0.6;
	text-align: center;
	padding: 20px;

}

.card h2 {
	color: rgb(254, 59, 60);
	text-align: center;

}

#footer{
	background: black;
	color: white;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	opacity: 0.6;
}

#footer a {
	font-size: 20px;
	color: grey
}

#footer a:hover {
	color: rgb(254, 59, 60);
}

.content {
	flex-grow: 1;

}
