{% extends 'event/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="content" id="about">
    <h1> О проекте </h1>
    <p> Название проекта - <b><u> Join ME </u></b></p>
    <p> Проект создается для объединения людей в связи с определенным мероприятием.<br>
        В первую очередь он будет направлен на оптимизацию людских затрат по сбору людей, например, на спортивное
        мероприятие.
        <br>
        Вы хотите собраться и поиграть в какой - либо вид спорта. Но, обзванивать всех или считать, кто записался в
        созданной группе
        мессенджера - это слишком утомительно. <br>
        Данное web - приложение наглядно покажет, кто записался, а кто - нет, кто - не уверен. <br>
        С помощью данного приложения можно будет легко собрать людей для игры, например в футбол.</p>
    Автор проекта: <i> Воевода Николай </i>
</div>

{% endblock %}