{% load static %}
    <h4>{{ article.article_date }}</h4>
    <h2>{{ article.article_title }}</h2>
    <p>{{ article.article_text }}</p>
    <hr>
<p>Коментарии</p>
{% for comment in comments %}
    {{ comment.comment_text }}</p>
{% endfor %}

<form action="/special/addcomment/{{ article.id }}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-danger" value="ADD Comment">
</form>

