
{% load static %}

{% for article in articles %}
    <h6>Дата публикации: {{ article.article_date }}</h6>
    <h4><a href="/special/get/{{ article.id }}">{{ article.article_title }}</a></h4>
    <p>{{ article.article_text }}</p>
    <p><a href="/special/addlike/{{ article.id }}/"><img src="{% static 'event\images\like.png' %}" width="26px" height="26px" alt='Like'></a> {{ article.article_likes }}</p>
    <hr>
{% endfor %}

