{% extends 'event/base.html' %}
{% load static %}

{% block title %}
Auth
{% endblock %}

{% block content %}

<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href="/auth/logout/">Log out({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login/">Log in</a></li>
            {% endif %}
            </ul>
        </section>
    </div>

{% include 'event/login.html' %}


{% endblock %}