<!DOCTYPE>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'event/head.html' %}
</head>
<body>
{% include 'event/header.html' %}
{% include 'event/buttons.html' %}

{% block content %}
{% endblock %}

{% include 'event/footer.html' %}

</body>
</html>

