<div class="spec">
    <p><a href="/" class="btn btn-danger"> Main </a></p>
    <p><a href="/special/" class="btn btn-danger"> Special page </a></p>
    <p><a href="/about/" class="btn btn-danger"> About </a></p>
    <p><a class="btn btn-danger" onclick="history.back()"> Back </a></p>
    <p><a href="/auth/" class="btn btn-danger"> Auth </a></p>

</div>