{% load static %}

<div class="content" id="main">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card">
                    <img src="{% static 'event\images\sport.png' %}" width="260" height="260" alt='SPORT_IMAGE'>
                    <h2>Sport's events</h2>
                    <p>Find people to do team spotrs becomes <strong>easier</strong></p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card">
                    <img src="{% static 'event\images\travel.png' %}" width="260" height="260" alt='TRAVEL_IMAGE'>
                    <h2>Travelling</h2>
                    <p>Find people for camping or travelling becomes <strong>faster</strong></p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card">
                    <img src="{% static 'event\images\concert.png' %}" width="260" height="260" alt='CONCERT_IMAGE'>
                    <h2>Poster</h2>
                    <p>Find people for visiting theaters, museums, concerts becomes <strong>more comfortable</strong>
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card">
                    <img src="{% static 'event\images\laptop.png' %}" width="260" height="260" alt='LAPTOP_IMAGE'>
                    <h2>More...</h2>
                    <p>Spend your free time <strong>collectively</strong></p>
                </div>
            </div>

        </div>
    </div>
</div>


