<div id="footer">
    <p>Connect or find us</p>
    <ul class="list-inline">
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-vk" aria-hidden="true"></i></a></li>
    </ul>
</div>

