{% extends 'event/base.html' %}

<div class="">
    <form action="/auth/login/" method="post">
        {% csrf_token %}
        <label for="username"> Name </label>
        <input type="text" name="usernsme" id="username">
        <label for="password"> Password </label>
        <input type="password" name="password" id="password">
        {% if login_error %}
             <label class="error"> {{login error }} </label>
        {% endif %}
        <input class="button" type="submit" value="Auth">
    </form>

</div>
